.filters__search {
    width: 250px;
    padding-left: 15px;
    margin-right: 10px;
    height: 35px;
    resize: none;
    border: 1px solid var(--accentGray);
    border-radius: 3px;
}

.filters__dropdown {
    width: 180px;
    height: 35px;
    resize: none;
    border: 1px solid var(--accentGray);
    border-radius: 3px;
    z-index: 1;
    background-color: white;
}

.filters__dropdown--placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.dark-icon {
    margin: 0 !important;
    padding: 2px 5px 0 0 !important;
    color: var(--primaryColor) !important;
    opacity: .5 !important;
}

.filters__dropdown--placeholder > p {
    margin: 0;
    padding-left: 10px;
    font-size: 13px;
    color: var(--primaryColor);
    opacity: .5;
}

.filters__dropdown--click {
    border-radius: 3px 3px 0 0 ;
    border-color: var(--primaryColor);
}

.filters__dropdown:hover {
    cursor: pointer;
}

.filters__dropdown--options {
    width: 100%;
    margin-top:1px;
    margin-left: -1px;
    font-size: 13px;
    background-color: white;
    border: 1px solid var(--accentGray);
}

.filters__dropdown--options > p {
    padding: 12px 0 12px 10px;
    margin: 0;
}

.filters__dropdown--options > p:hover {
    background-color: var(--accentGray);
}